
.bg-page{
    background-image: linear-gradient(rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.9)), url(./media/sfondo/city.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    border-top: 1px solid;
}

.bg-pages{
    background: linear-gradient(214deg, rgba(10,1,1,1) 35%, rgba(7,7,7,1) 59%);
}



.title {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    font-style: normal;
}

.subtitle{
    transition: .7s;
    display: inline-block;
}

.subtitle:hover{
    text-shadow: 2px 2px 20px rgba(255, 255, 0, 0.815);
    animation:  pulse 1s infinite alternate;
}

@keyframes pulse {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.05;
    }
}


*{
    font-family: "Playfair Display", serif;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 5px rgba(172, 0, 0, 0.7);
}

.link {
    font-family: "Bokor", system-ui;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba(161, 161, 161, 0.366);
    transition: .5s;
    display: inline-block;
}

.link:hover{
    transform: translateY(-5px);
    color: rgb(127, 127, 127) !important;
}



/* PAGINA PERSONAGGI  */

.img-char{
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 10px 10px 0px 0px;
}

.btnBack{
    display: inline-block;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    font-size: 40px;
}

.cover{
    object-fit: cover;
}

.txt-shadow{
    text-shadow: 2px 2px black;
}
